@import './variables.scss';
@import './shadows.scss';
@import './text-fields.scss';
@import './overrides.scss';

.all-around-padding {
  padding: $padding-basic;
}
.all-around-margin {
  margin: $padding-basic;
}
.no-margin {
  margin: 0;
}
.no-padding {
  padding: 0;
}
.clickable {
  cursor: pointer;
}
.clickable:focus {
  border: none;
}

.start.center {
  text-align: start;
}