hr {
  color: #fff
}
mat-form-field {
  width: 100%;
}

mat-icon {
  color: $grey;
}

mat-icon.dark {
  color: inherit;
}

mat-form-field.small {
  .mat-input-wrapper {
    padding-bottom: inherit;
  }
  .mat-input-infix {
    border-top: none;
  }
  .mat-input-underline {
    display: none;
  }
}